.all{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.map p{
  margin-top: 20px;
}
.l-group{
  padding-top: 100px;
  position: relative;
}
.bigbox{
  
  margin: 50px auto;
  border: 10px solid transparent;
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(#00011c, #00011c),
      linear-gradient(to right, transparent 40%, gold);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size:127%;
}

.square{
  border: 1px solid rgba(241, 160, 18, 1); 
  max-width: 510px;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
}
.all::after{
  height: 730px;
  width: 2px;
  content: "";
  background-color:rgba(241, 160, 18, 1) ; 
  position: absolute;
  top: 18%;
  right: 50%;
  transform: translateX(-50%);


}
.l-group .square::after {
  content: "";
  width: 24px;
  height: 24PX;
  border-radius:50% ;
background-color:rgba(241, 160, 18, 1) ;  
position: absolute;
top: 50%;
right: 100%;
transform: translateX(-50%);
}
.l-group .square::before {
  content: "";
  width: 1px;
  height: 75px;
background-color:rgba(241, 160, 18, 1) ;  
position: absolute;
top: 38%;
right: 107%;
transform: translate(50%);
transform: rotate(90deg);
}
.r-group .square::after {
  content: "";
  width: 24px;
  height: 24PX;
  border-radius:50% ;
background-color:rgba(241, 160, 18, 1) ;  
position: absolute;
top: 50%;
left: 109%;
transform: translate(50%);
}

.r-group .square::before {
  content: "";
  width: 1px;
  height: 75px;
background-color:rgba(241, 160, 18, 1) ;  
position: absolute;
top: 38%;
left: 107%;
transform: translate(50%);
transform: rotate(90deg);
}
.square h6{
  text-align: center;
  font-size: 20px;
  display: block;
  color: white;

}
.square p{
  font-size: 16px;
}
@media screen and (min-width: 1480px) {
  .r-group{
    position: relative;   
    left: 8%;
  }

  .l-group{
    position: relative;
    right: 8%;
  }
}
.yellow-line{
  width: 2px;
  height: 730px;
  background-color: var(--tertiary-color);
  margin-top: 13%;
}