.price-range-container {
    padding: 20px 0;
    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif;
  }
  
  .slider-container {
    position: relative;
    width: 100%;

  }
  
  .slider-tooltip {
    position: absolute;
    top: -57px;
    background-color: #fffefe;
    color: #000;
    padding: 5px 4px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;

    
   }
  .slider-tooltip::before{
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    border-bottom: 7px solid transparent;
    top: 30px;
    left: 36%
  }
  .slider {
    width: 100%;
    appearance: none;
    height: 16px;
    border-radius: 2px;
    background: #555;
    outline: none;
      background: linear-gradient(
    to right,
    var(--primary-color) 0%, /* البداية باللون البرتقالي */
   var(--primary-color) var(--value, 50%), /* الجزء البرتقالي */
    #ccc var(--value, 50%) /* الجزء الرمادي */
  );
    transition: background 0.3s;
    top: -10px;
    position: relative;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(241, 160, 18, 1);
    cursor: pointer;
    border: 5px solid #ffffff;
    scale: 1.1;
    position: relative;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(241, 160, 18, 1);
    cursor: pointer;
    border: 2px solid #fff;
  }
  
  .slider::-ms-thumb {
    width: 20px;
    height: 20px ;
    border-radius: 50%;
    background: rgba(241, 160, 18, 1);
    cursor: pointer;
    border: 2px solid #fff;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
  }
  
 