.homepage {
    height: calc(100vh - 5rem);
   
 
     
    background-size: cover;
    background-position: center;
  }
  
  .homepage section {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
  }
  .t-box{
    margin-top: 100px;
  }
  