*{--primary-color: #f1a013;
    --secondary-color: #ec971f;
    --white-color:rgba(255, 255, 255, 1);
    --black-color:rgba(30, 30, 30, 1);
    --tertiary-color: #ac9e9e;
    --quantico-font:"Quantico", serif;
    --azart-font:"Azeret Mono", serif;
    --epilogue-font: "Epilogue", serif;
    --Poppins-font: "Poppins", serif;
    --inter-font: "Inter", serif;
    
}
.background{ background-image:
     url(../public/8fac842e0a101438df6bcb2f69435547.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
body{
   /* / background-image: url(../public/8fac842e0a101438df6bcb2f69435547.png) ; */
 
    font-family: "Oxanium", sans-serif;
    color:white;
text-transform: capitalize;    
display: flex;

flex-direction: column;
}
 
section{
    height: 60vh;
}
ul li a{
    text-decoration: none; 
      color:white
}
ul li {
    text-decoration: none; 
    list-style:none ;
}